<%- include('header'); -%>
<div class="tabs">
    <div class="tabs__nav">
        <a class="tabs__link tabs__link_active" href="#content-1">Вопрос</a>
        <a class="tabs__link" href="#content-2">Проблема</a>
        <% if(login) %>
        <% if(owner.permission == "Admin"){ %>
            <a class="tabs__link" href="#content-3">Гос. проекты</a>
        <% } %>
    </div>
    <div class="tabs__content">
        <div class="tabs__pane tabs__pane_show col-6" id="content-1">
            <section>
                <form method="post" action="/task_create_question">
                    <label class="col-6" for="userName">Topic</label>
                    <input id="userName" name="topic" type="text" class="required">
                    <label class="col-6" for="password">Description</label>
                    <input id="userDescription" name="description" type="text" class="required">
                    <label class="col-6" for="confirm">Rating</label>
                    <input id="userRating" name="rating" type="text" class="required">
                    <label class="col-6" for="confirm">Location</label>
                    <input id="userLocation" name="location" type="text" class="required">
                    <label class="col-6" for="confirm">Short description</label>
                    <input id="userShort_description" name="short_description" type="text" class="required">
                    <button class="confirmbtn" type="submit" style="margin-left: 4.3rem; width: 100px; height: 40px;">
                        Сохранить
                    </button>
                </form>
            </section>
        </div>
        <div class="tabs__pane col-6" id="content-2">
            <section id="tabs-2">
                <form method="post">
                    <label class="col-6" for="userName">Topic</label>
                    <input id="userName" name="topic" type="text" class="required">
                    <label class="col-6" for="password">Description</label>
                    <input id="userDescription" name="description" type="text" class="required">
                    <label class="col-6" for="confirm">Rating</label>
                    <input id="userRating" name="rating" type="text" class="required">
                    <label class="col-6" for="confirm">Location</label>
                    <input id="userLocation" name="location" type="text" class="required">
                    <label class="col-6" for="confirm">Short description</label>
                    <input id="userShort_description" name="short description" type="text" class="required">
                    <label class="col-6" for="confirm">LeadersUIDs</label>
                    <input id="userLeadersUIDs" name="leadersuids" type="text" class="required">
                    <button class="confirmbtn" type="submit" style="margin-left: 4.3rem; width: 100px; height: 40px;">
                        Сохранить
                    </button>
                </form>
            </section>
        </div>
        <div class="tabs__pane col-6" id="content-3">
            <section id="tabs-3">
                <form method="post">
                    <label class="col-6" for="userName">Topic</label>
                    <input id="userName" name="topic" type="text" class="required">
                    <label class="col-6" for="password">Description</label>
                    <input id="userDescription" name="description" type="text" class="required">
                    <label class="col-6" for="confirm">Rating</label>
                    <input id="userRating" name="rating" type="text" class="required">
                    <label class="col-6" for="confirm">Location</label>
                    <input id="userLocation" name="location" type="text" class="required">
                    <label class="col-6" for="confirm">Short description</label>
                    <input id="userShort_description" name="short description" type="text" class="required">
                    <label class="col-6" for="confirm">Administration_UIDs</label>
                    <input id="userAdministration_UIDs" name="administration_uids" type="text" class="required">
                    <label class="col-6" for="confirm">Order_number</label>
                    <input id="userOrder_number" name="short description" type="text" class="required">
                    <label class="col-6" for="confirm">Executor</label>
                    <input id="userExecutor" name="executor" type="text" class="required">
                    <label class="col-6" for="confirm">Funding</label>
                    <input id="userFunding" name="funding" type="text" class="required">
                    <label class="col-6" for="confirm">Progress</label>
                    <input id="userProgress" name="funding" type="text" class="required">
                    <button class="confirmbtn" type="submit" style="margin-left: 4.3rem; width: 100px; height: 40px;">
                        Сохранить
                    </button>
                </form>
            </section>
        </div>
    </div>
</div>


<script>
    var $tabs = function (target) {
        var
            _elemTabs = (typeof target === 'string' ? document.querySelector(target) : target),
            _eventTabsShow,
            _showTab = function (tabsLinkTarget) {
                var tabsPaneTarget, tabsLinkActive, tabsPaneShow;
                tabsPaneTarget = document.querySelector(tabsLinkTarget.getAttribute('href'));
                tabsLinkActive = tabsLinkTarget.parentElement.querySelector('.tabs__link_active');
                tabsPaneShow = tabsPaneTarget.parentElement.querySelector('.tabs__pane_show');
                // если следующая вкладка равна активной, то завершаем работу
                if (tabsLinkTarget === tabsLinkActive) {
                    return;
                }
                // удаляем классы у текущих активных элементов
                if (tabsLinkActive !== null) {
                    tabsLinkActive.classList.remove('tabs__link_active');
                }
                if (tabsPaneShow !== null) {
                    tabsPaneShow.classList.remove('tabs__pane_show');
                }
                // добавляем классы к элементам (в завимости от выбранной вкладки)
                tabsLinkTarget.classList.add('tabs__link_active');
                tabsPaneTarget.classList.add('tabs__pane_show');
                document.dispatchEvent(_eventTabsShow);
            },
            _switchTabTo = function (tabsLinkIndex) {
                var tabsLinks = _elemTabs.querySelectorAll('.tabs__link');
                if (tabsLinks.length > 0) {
                    if (tabsLinkIndex > tabsLinks.length) {
                        tabsLinkIndex = tabsLinks.length;
                    } else if (tabsLinkIndex < 1) {
                        tabsLinkIndex = 1;
                    }
                    _showTab(tabsLinks[tabsLinkIndex - 1]);
                }
            };

        _eventTabsShow = new CustomEvent('tab.show', {detail: _elemTabs});

        _elemTabs.addEventListener('click', function (e) {
            var tabsLinkTarget = e.target;
            // завершаем выполнение функции, если кликнули не по ссылке
            if (!tabsLinkTarget.classList.contains('tabs__link')) {
                return;
            }
            // отменяем стандартное действие
            e.preventDefault();
            _showTab(tabsLinkTarget);
        });

        return {
            showTab: function (target) {
                _showTab(target);
            },
            switchTabTo: function (index) {
                _switchTabTo(index);
            }
        }

    };

    $tabs('.tabs');
</script>