<body style="background-color: #19181D; z-index: 4; position:relative;">
    <span class="circle"></span>
    <span class="msg">COMING SOON</span>
    <span class="notifymsg">STAY HOME!</span>
</body>
