@font-face {
  src: url("../Fonts/Profontwindows-axBMx.ttf") format("truetype");
  font-family: "Profontwindows";
  font-style: normal;
  font-weight: normal;
}


/* colors code */
.text-bl {
  color: #343a40;
}

.text-wh {
  color: #fff;
}

.text-li {
  color: #f8f9fa;
}

.text-da {
  color: #000;
}

.bg-li {
  background: #f8f9fa;
}

.bg-wh {
  background: #fff;
}

.let {
  letter-spacing: 1px;
}

/* //colors code */

/* header */
header {
  -webkit-box-shadow: 0.33333rem 0 1.33333rem rgba(87, 87, 87, .1);
  -moz-box-shadow: 0.33333rem 0 1.33333rem rgba(87, 87, 87, .1);
  box-shadow: 0.33333rem 0 1.33333rem rgba(87, 87, 87, .1);
  background: #fff;
  height: 100px;
}

.main-top {
  position: relative;
  z-index: 1;
}

/* navigation */
/* CSS Document */
.toggle-2,
.toggle,
[id^=drop] {
  display: none;
}

/* Giving a background-color to the nav container. */
nav {
  margin: 0;
  padding: 0;
  font-family: "Work-Sans", sans-serif;
  font-weight: bold;
}

#logo a {
  float: left;
  display: initial;
  font-size: 32px;
  color: #4B4168;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
  padding: 0;
  font-weight: 600;
  font-family: "Work-Sans", sans-serif ;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
  content: "";
  display: table;
  clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  text-align: center;
  justify-content: center;
}

/* Positioning the navigation items inline */
nav ul li {
  display: inline-block;
  margin: 10px 0px 0px;

}
.menu_help {
  margin-right: auto;
}
.sign, .logout {
  font-size: 20px;
  margin-bottom: 7px;
  border: 4px solid #4B4168;
  font-weight: bold;
}

/* Styling the links */
nav a {
  color: #202428;
  font-size: 25px;
  letter-spacing: .5px;
  margin: 0 14px;
  font-weight: 400;
}

/* Background color change on Hover */

.menu li a.active,
nav a:hover,
nav ul ul li a:hover {
  color: #05b993;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
  display: none;
  position: absolute;
  top: 25px;
  background: rgba(80, 90, 182, 0.89);
  opacity: 0.75;
  padding: 10px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index: 9;
  /* has to be the same number as the "line-height" of "nav a" */
}

/* Display Dropdowns on Hover */
nav ul li:hover>ul {
  display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 170px;

  float: none;
  display: list-item;
  position: relative;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

nav ul ul li a {
  color: #fff;
  display: block;
  font-size: 18px;
  margin: 6px;
  font-family: "Work-Sans", sans-serif;
}

/* Second, Third and more Tiers
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
  position: relative;
  top: -60px;
  /* has to be the same number as the "width" of "nav ul ul li" */
  left: 170px;
}


/* Change ' +' in order to change the Dropdown symbol */
li>a:only-child:after {
  content: '';
}

/* Media Queries
--------------------------------------------- */
@media all and (max-width: 1100px) {
  #logo a {
    font-size: 20px;
  }
}

@media all and (max-width : 991px) {
  #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }


  nav {
    margin: 0 25px 0 0;
  }

  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle+a,
  .menu {
    display: none;
  }

  /* Stylinf the toggle lable */
  .toggle {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    text-decoration: none;
    border: none;
    float: right;
    color: #000;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid #000;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
  }

  .menu .toggle {
    float: none;
    text-align: center;
    margin: auto;
    max-width: 120px;
    padding: 5px;
    font-size: 14px;
    letter-spacing: .5px;
    color: #202428;
    font-weight: 400;
    border: none;
  }

  /* Display Dropdown when clicked on Parent Lable */
  [id^=drop]:checked+ul {
    display: block;
    background: #fff;
    padding: 15px 0;
    text-align: center;
    width: 100%;
  }

  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%;
    padding: 5px 0;
  }

  nav a:hover,
  nav ul ul ul a {
    background-color: transparent;
  }

  /* Hide Dropdowns by Default */
  nav ul ul {
    float: none;
    position: static;
    color: #fff;
    /* has to be the same number as the "line-height" of "nav a" */
  }

  /* Hide menus on hover */
  nav ul ul li:hover>ul,
  nav ul li:hover>ul {
    display: none;
  }

  /* Fisrt Tier Dropdown */
  nav ul ul li {
    display: block;
    width: 100%;
    padding: 0;
  }

  nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */
  }

  nav ul ul li a {
    color: #000;
    font-size: 15px;
    padding: 0;
  }
}

/* dropdown */
#demo {
  margin: 10px 0 0px 0;
}

#demo .wrapper {
  display: inline-block;
  position: relative;
}

#demo .parent {
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
  line-height: 30px;
  height: 30px;
  color: #fff;
  z-index: 2;
  position: relative;
  -webkit-transition: border-radius .1s linear, background .1s linear, z-index 0s linear;
  -webkit-transition-delay: .8s;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  padding-left: 0;
  padding-right: 0;
}

#demo .parent:hover,
#demo .content:hover~.parent {
  -webkit-transition-delay: 0s, 0s, 0s;
}

#demo .content:hover~.parent {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 0;
}

#demo .content {
  position: absolute;
  top: 0;
  display: block;
  z-index: 1;
  height: 0;
  width: 150px;
  padding-top: 30px;
  -webkit-transition: height .5s ease;
  -webkit-transition-delay: .4s;
}

#demo .wrapper:active .content {
  height: 150px;
  z-index: 3;
  -webkit-transition-delay: 0s;
}

#demo .content:hover {
  height: 150px;
  z-index: 3;
  -webkit-transition-delay: 0s;
}


#demo .content ul {
  background: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#demo .content ul a {
  text-decoration: none;
  padding: 0;
}

#demo .content li:hover {
  background: #f8f9fa;
}

#demo .content li {
  list-style: none;
  text-align: left;
  color: #999;
  font-size: 16px;
  line-height: 30px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  border-top: 1px solid #eee;
}

#demo .content li:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}



------------------------OLD HEADER---------------------------

/*.header_body {*/
/*  overflow-x: hidden;*/
/*  font-family: 'MinecrafterAltRegular', sans-serif;*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*  color: #505962;*/
/*}*/

/*#bg {*/
/*  position:fixed;*/
/*  top:0;*/
/*  left:0;*/
/*}*/

/*!* Navbar *!*/

/*.navbar {*/
/*  text-transform: uppercase;*/
/*  letter-spacing: .1rem;*/
/*  font-size: 1.05rem;*/
/*  background: rgba(0, 0, 0, 0.6)!important;*/
/*  height: 90px!important;*/
/*}*/

/*.navbar-brand img {*/
/*  height: 3.5rem;*/
/*  font-size: 25px;*/
/*}*/

/*a.navbar-brand {*/
/*  font-size: 25px;*/
/*}*/

/*.navbar a.navbar-brand:hover {*/
/*  color: #1EBBA3;*/
/*}*/

/*.navbar-dark .navbar-nav .nav-link {*/
/*  color: white;*/
/*}*/

/*.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover {*/
/*  color: #1EBBA3;*/
/*}*/

/*.sign {*/
/*  color: #ffffff;*/
/*  background: #1ebba38a;*/
/*  letter-spacing: 2px;*/
/*  margin-bottom: 3px;*/
/*}*/
/*.sign:hover{*/
/*  border: 1px solid white;*/
/*}*/

/*.logout {*/
/*  color: #ffffff;*/
/*  background: #1ebba38a;*/
/*  letter-spacing: 2px;*/
/*  border-radius: .1875rem;*/
/*}*/
/*a.nav-item {*/
/*  font-size: 1.05rem!important;*/
/*}*/
/*.rightbuttons {*/
/*  position: absolute;*/
/*  right: 0;*/
/*}*/
/*!*Modal*!*/

/*#ch_box {*/
/*  margin:  0 !important;*/
/*  margin-right: auto !important;*/
/*  text-align: start !important;*/
/*}*/

/*.header_span  {*/
/*  font-family: "MinecrafterAltRegular", sans-serif;*/
/*  font-size: 30px;*/
/*  color: white;*/
/*  text-align: center;*/
/*}*/

/*.signModalLabel {*/
/*  font-weight: bold;*/
/*  font-size: 35px;*/
/*  text-align: center;*/
/*  padding-bottom: 10px;*/
/*}*/

/*.main-div {*/
/*  background: lightslategray !important;*/
/*  width: 55%;*/
/*  height: 60%;*/
/*  padding: 20px;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  position: absolute;*/
/*  -ms-transform: translate(-50%, -50%)!important;*/
/*  transform: translate(-50%, -50%)!important;*/
/*}*/
/*.main-div input {*/
/*  border: 1px solid #cccccc;*/
/*  border-radius: 5px;*/
/*  background: #ffffff;*/
/*  outline: none;*/
/*  font-family: "MinecraftiaRegular", sans-serif;*/
/*  font-weight: bold;*/
/*  width: 100%!important;*/
/*  opacity: 0.75;*/
/*  padding-bottom: 10px;*/
/*  padding-top: 10px;*/
/*  text-align: center;*/
/*  margin: auto;*/
/*  font-size: 15px;*/
/*}*/

/*.main-div button {*/
/*  font-family: "MinecraftiaRegular", sans-serif;*/
/*  font-weight: bold;*/
/*  font-size: 20px;*/
/*  background: #d3855b;*/
/*  color: white;*/
/*  border: 0;*/
/*  border-radius: 5px;*/
/*  padding: 5px;*/
/*  display: block;*/
/*  width: 50%;*/
/*  opacity: 0.75;*/
/*  transition: .3s;*/
/*  -webkit-trasition: .3s;*/
/*  -moz-transition: .3s;*/
/*  position: center;*/
/*  text-align: center;*/
/*  margin: 5px;*/
/*}*/
/*.main-div button:hover {*/
/*  background: #ffffff;*/
/*  color: #d3855b;*/
/*  border: #d3855b;*/
/*  opacity: 1;*/
/*}*/
/*.main-div input:hover {*/
/*  opacity: 0.9;*/
/*}*/
/*label {*/
/*  width: 100%;*/
/*}*/
/*.row {*/
/*  padding-top: 10px;*/
/*}*/
/*.sign-footer {*/
/*  width: 100%;*/
/*  justify-content: center;*/
/*}*/

/*.btn-vk {*/
/*  font-size: 50px;*/
/*  justify-content: center;*/
/*  text-align: center;*/
/*  padding: 0!important;*/
/*  left: 45%;*/
/*}*/
/*.subtitle {*/
/*  font-size: 20px;*/
/*  color: white;*/
/*  padding-top: 10px;*/
/*  font-weight: bold;*/
/*  text-align: center;*/
/*}*/

/*!*End Modal*!*/


/*!*sm*!*/
/*@media (min-width: 576px) {}*/

/*!*md*!*/
/*@media (max-width: 876px) {*/
/*  .allbuttons {*/
/*    padding: -5px!important;*/
/*  }*/
/*}*/

/*!*lg*!*/
/*@media (min-width: 992px) {  }*/

/*!*xl*!*/
/*@media (min-width: 1200px) {  }*/

/*@media (max-width: 1100px) {*/
/*  .allbuttons {*/
/*    font-size: 12px;*/
/*  }*/
/*  .navbar-brand img {*/
/*    height: 2.8rem;*/
/*  }*/
/*  a.navbar-brand {*/
/*    font-size: 18px;*/
/*  }*/
/*  .logout {*/
/*    font-size: 12px;*/
/*  }*/
/*}*/

--------------------------------------------- PROFILE PAGE ---------------------------------------------------------

@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome);
/* entypo */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}

/* Utils */

.clear {
  clear: both;
}
.purple {
  color: #837c9a;
}

.block {
  margin: 25px 30px;
}
.block h1 {
  margin-left: -5px;
  font-weight: 200;
}

.last.block {
  margin-bottom: 110px;
}

.horizontal_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.horizontal_list li {
  float: left;
}
.horizontal_list li:before {
  content: none;
}
.horizontal_list li {
  padding-left: 0;
  text-indent: 0;
}

.horizontal_line {
  margin: 34px 34px 0 30px;
  height: 26px;
  position: relative;
}
.line_left,
.line_right {
  border-top: 1px solid #e8dede;
  width: 305px;
  margin-top: 13px;
}
.line_left {
  float: left;
}
.line_right {
  float: right;
}
.left_circle,
.central_circle,
.right_circle {
  background: rgb(75, 224, 192);
  background: rgb(5, 185, 147);
  position: absolute;
  border-radius: 50px;
}
.left_circle,
.right_circle {
  width: 13px;
  height: 13px;
  top: 7px;
}
.left_circle {
  left: 314px;
}
.central_circle {
  width: 26px;
  height: 26px;
  top: 0px;
  left: 322px;
}
.right_circle {
  left: 343px;
}

/* Main tags */

.profile_h1 {
  font-size: 48px;
  font-weight: 300;
  margin: 20px 0;
  color: black;

}
.profile_h2 {
  font-size: 28px;
  margin: 32px 0 24px;
  color: black;
}

.profile_blockquote{
  font-style: italic;
  margin: 25px 0;
  padding-left: 20px;
  border-left: 2px solid #48da9b;
}

.profile_blockquote,
.profile_p,
.profile_a,
.profile_li {
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #e4e3e8;
}

.profile_a:focus {
  outline: none;
}

.profile_li {
  padding-left: 1em;
  text-indent: -0.7em;
}
.profile_ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.profile_li:before {
  content: "• ";
  color: #837c9a;
  font-size: 20px;
  padding-right: 8px;
}

/* Containers size */

#main_container {
  width: 960px;
  margin: 0 auto;
}
#left_col {
  width: 260px;
  float: left;
}
#content_container {
  width: 699px;
  border-left: 1px solid #e5e3ec;
  float: left;
  border-right: 1px solid #e5e3ec;

}
/* LEFT NAV */

#left_nav .profile_h2 {
  margin: 0;
  font-size: 24px;
}

.profile_frame {
  width: 230px;
  height: 260px;
  background: black;
  border: 1px solid #403f44;
  margin-top: 30px;
}
.profile_picture {
  width: 210px;
  height: 240px;
  margin: 10px;
  background: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/86033/profile/profile-512_3.jpg)
  100% /210px no-repeat;
}

.hello_content,
.contact_details_content {
  margin-top: 25px;
}

.hello_content {
  width: 230px;
}
.contact_details_content h2 + p.purple {
  margin-top: 10px;
}
.contact_details_content p {
  margin: 0;
}
.contact_details_content p.purple {
  margin-top: 25px;
}

.send_message_button,
.special_button {
  margin-top: 13px;
  display: block;
  background: #48da9b;
  width: 230px;
  height: 50px;
  position: relative;
  z-index: 1;
}
.cut1:after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: -20px;
  width: 30px;
  height: 30px;
  z-index: 9;
  background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_wall.png)
  repeat;
  transform: rotate(45deg);
}
.cut2:before {
  content: "";
  position: absolute;
  top: -19px;
  right: -20px;
  width: 30px;
  height: 30px;
  z-index: 9;
  background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_wall.png)
  repeat;
  transform: rotate(45deg);
}
.profile_content {
  text-align: center;
  color: #04080b;
  width: 100%;
  height: 40px;
  position: absolute;
  z-index: 2;
  font: 18px "Lato", Arial, sans-serif;
  margin: 0;
  padding: 16px 0 0;
  top: -4px;
  bottom: 10px;
  border-top: 1px solid #403f44;
}
.send_message_button:hover,
.special_button:hover {
  background: #29c782;
}

.get_social_content {
  margin-top: 15px;
}
.get_social_content h2 {
  margin-bottom: 8px;
}
.social_icons {
  margin-left: -8px;
}
.social_icons a {
  font-size: 35px;
  text-decoration: none;
  color: #000507;
  padding: 0;
  padding: 0 5px;
}
.social_icons a span.invisible {
  display: none;
}
.social_icons .facebook:hover {
  background: #3b5998;
  color: #dfe3ee;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.social_icons .twitter:hover {
  background: #00b0ed;
  color: #fff;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.social_icons .linkedin:hover {
  background: #007bb6;
  color: #fff;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.footer_name {
  font-style: italic;
  margin-top: 20px;
}

/* Profile Content */

.profile_quote {
  position: relative;
  /* margin-left: 5px; */
}
.profile_quote p {
  font-size: 17px;
  width: 455px;
}
.profile_quote .entypo-quote {
  color: #3d3a41;
  font-size: 80px;
  font-style: normal;
  position: absolute;
  top: -20px;
  right: 70px;
  cursor: default;
}

.philosophy_content {
  margin-top: 20px;
}
.philosophy_content p {
  margin: 0;
  width: 370px;
  float: left;
}
.philosophy_content ul {
  float: left;
  padding-left: 40px;
}

















---------------------------------------IN PROGRESS PAGE------------------------------

body {
  margin: 0 !important;
  padding: 0 !important;
}

.circle {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background: linear-gradient(#313247 0%, #19181D 30%);
  position: absolute;
  top: 20%;
  left: 38%;
}
.circle:before, .circle:after {
  content:'';
  height: 400px;
  width: 400px;
  background: linear-gradient(#FFD1DA 0%, #FF849D 5%, #2D2133 25%);
  border-radius: 50%;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-filter:blur(7px);
  z-index: -1;
}
.circle:after {
  width: 415px;
  top: 35%;
  -webkit-filter:blur(14px);
  opacity: .3;
}
.msg {
  font-family:"MinecraftiaRegular", sans-serif;
  font-size: 30px;
  color:white;
  letter-spacing: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.notifymsg {
  font-family:"MinecraftiaRegular", sans-serif;
  font-size: 25px;
  color: #FFD1DA;
  letter-spacing: 2px;
  position: absolute;
  bottom: 17%;
  left: 50%;
  transform: translate(-50%,-50%);
}


-------------------------------------NEWS PAGE----------------------------------
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.text-input {
  padding: .7rem 1rem;
  display: block;
  width: 100%;
  border-radius: 5px;
  outline: #444444;
  line-height: 1.5rem;
  font-family: "Profontwindows", sans-serif;
  font-size: 15px;
}
.news_readmore {
  padding: .5rem 1rem;
  background: #1ebba38a;
  color: white!important;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-family: "MinecraftiaRegular", sans-serif;

}
.news_readmore:hover {
  border: 1px solid #1EBBA3;
  color: #1EBBA3!important;
  transition: .3s;
}

.news_body {
  width: 100%!important;
  margin: 90px auto 30px;
}
.news_body .main-news .article {
  width: 95%;
  height: 270px;
  margin: 20px auto;
  border-radius: 5px;
  background: white;
  position: relative;
}
.article .article-preview h1 a {
  font-size: 20px;
  font-family: "MinecraftiaRegular", sans-serif;
}
.news_body .main-news .article .news_readmore {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.news_body .main-news .article .article-image {
  width: 40%;
  height: 100%;
  float: left;
}
.news_body .main-news .article .article-preview {
  padding: 10px;
  width: 60%;
  float: right;
}
.article .article-preview i {
  font-size: 14px;
}
.article .article-preview p {
  font-size: 14px;
  word-wrap: break-word;
}
.news_body .main-news {
  width: 70%;
  float: left;
}
.news_body .main-news .recent-post-title {
  margin: 20px;
  font-family: "MinecrafterAltRegular", sans-serif;
  font-size: 45px!important;
}
.news_body .sidebar {
  width: 30%;
  float: left;
  height: 300px;
  margin-top: 90px;
}
.news_body .sidebar .section {
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.news_body .sidebar .section.search {

}



-----------------------PEOPLE--------------------------

.container-people {
  height: auto;
  width: 40%;
  background: black;
  z-index: 1000;
  position: relative;

}
